.container {
  max-width: 1200px;
  padding: 0px 40px;
  margin: auto;
}
header {
  display: flex;
  justify-content: space-between;
}
.header-l {
  display: flex;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu {
  display: none;
}
a:link {
  text-decoration: none;
}
.menu-title {
  display: flex;
  align-items: center;
  padding: 0px 15px;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica neu, sans-serif;
}
.search {
  display: flex;
  align-items: center;
  padding: 0px 15px;
}
.weather {
  display: flex;
  font-size: 12px;
  height: 50px;
}
.weather-item {
  margin-right: 30px;
}
.wheater-item-indi {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.weather-item-img {
  margin-right: 5px;
}
@media (min-width: 960px) {
  .logo {
    width: 119px;
  }
  .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
  }
}
