* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  padding: 0px 40px;
  margin: auto;
}
header {
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
  justify-content: space-between;
}
.header-l {
  display: flex;
}
.logo img {
  width: 70px;
}
.menu {
  display: none;
}
a:link {
  text-decoration: none;
}
.menu-title {
  display: flex;
  align-items: center;
  padding: 0px 15px;
  font-size: 16px;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica neu, sans-serif;
}
.search {
  display: flex;
  align-items: center;
  padding: 0px 15px;
}
.weather {
  display: flex;
  font-size: 12px;
  height: 50px;
  margin: ;
}

@media (min-width: 960px) {
  .logo img {
    width: 119px;
  }
  .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
  }
}
