* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
}
.container {
  width: 100vw;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background-color: aquamarine;
  border-radius: 12px;
  opacity: 0.5;
}
header {
  display: flex;
  height: 53px;
  gap: 20px;
  padding-bottom: 20px;
}
.logo {
  width: 90px;
}
.menu {
  display: none;
}
.wheater {
  flex: 1;
}
.bar {
  width: 69px;
}
.imformation {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 30px;
}
.imformation-large-1 {
  height: 330px;
}
.imformation-mini {
  display: none;
}
.story-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 50px;
}
.story-title {
  height: 30px;
}
.stories-scroll {
  max-width: 1200px;
  overflow-x: scroll;
}
.storys {
  display: flex;
  gap: 15px;
  width: 4000px;
}

.story {
  width: 50%;
  height: 235px;
}

.news {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}
.news-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 1;
}
.news-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.news-item {
  height: 140px;
}
.news-rigth {
  display: none;
}
.interview {
  padding-bottom: 50px;
}
.interview-title {
  margin-bottom: 20px;
}
.interview-items {
  gap: 15px;
  display: grid;
  grid-template-columns: 1fr;
}
.interview-item {
  height: 243px;
}
.interview-item:first-child {
  height: 350px;
}
.gogo-style-title {
  height: 30px;
}
.technologie-title {
  height: 30px;
}
.comic-title {
  height: 30px;
}
.gogo-stylies-scroll {
  max-width: 1200px;
  overflow-x: scroll;
}
.gogo-styles {
  display: flex;
  gap: 15px;
  width: 4000px;
}
.gogo-style {
  width: 7.1%;
  height: 360px;
}
.technologies-scroll {
  max-width: 1200px;
  overflow-x: scroll;
}
.technologies {
  display: flex;
  gap: 15px;
  width: 4000px;
}
.technologi {
  width: 7.1%;
  height: 300px;
}
.comic-scroll {
  overflow-x: auto;
}
.comics {
  display: flex;
  gap: 15px;
  width: 10000px;
}
.comic {
  width: 100vh;
  height: 330px;
}
.videos {
  padding: 50px 15px 0px;
  margin: 60px -15px 0px;
  background-color: #1a1a1a;
}
.video-title {
  margin-bottom: 20px;
}
.video-item {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}
.video {
  height: 262px;
}
footer {
  padding: 50px 0px;
  text-align: center;
}
.abouts {
  padding-bottom: 50px;
  border-bottom: 1px solid grey;
}
.about-logo {
  margin-bottom: 40px;
}
.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.about-item {
  margin: 0px 0px 10px 30px;
  width: fit-content;
}
.socials {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  gap: 30px;
}
@media (min-width: 640px) {
  .container {
    padding: 0px 30px;
  }
  .story {
    width: 33.3%;
  }
  .interview-items {
    grid-template-columns: 1fr 1fr;
  }
  .interview-item:first-child {
    height: 400px;
    grid-column-end: 3;
    grid-column-start: 1;
  }
  .comic {
    width: calc(50vw-37.5px);
  }
  .video-item {
    grid-template-columns: 1fr 1fr;
  }
  .videos {
    padding: 50px 30px 0px;
    margin: 60px -30px 0px;
  }
  .video {
    padding-bottom: 50px;
  }

  .abouts {
    display: flex;
  }

  .socials {
    flex-direction: row;
    justify-content: space-between;
  }
  .about {
    justify-content: right;
  }
}
@media (min-width: 960px) {
  .container {
    padding: 0px 40px;
  }
  .logo {
    width: 120px;
  }
  .menu {
    display: flex;
    flex: 1;
  }
  .bar {
    display: none;
  }
  .wheater {
    max-width: 271px;
  }
  .imformation-large-1 {
    display: flex;
    height: 385px;
  }
  .imformation-mini-1 {
    width: 300px;
  }
  .imformation-mini {
    display: flex;
    height: 283px;
    justify-content: space-between;
    gap: 15px;
  }
  .story {
    width: 16.7%;
  }
  .news-item {
    height: 171px;
  }
  .highlight-news {
    margin-bottom: 50px;
  }
  .news-rigth {
    display: flex;
    flex-direction: column;
    padding-left: 120px;
    width: 290px;
  }
  .highlight-news-items {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .highlight-news-item {
    height: 215px;
    width: 290px;
  }
  .trend-news {
    margin: 30px -50px 0px;
    width: 340px;
  }
  .trend-news-title {
    height: 88.3px;
  }
  .trend-news-item {
    padding: 50px 50px;
    height: 120px;
  }
  .interview-items {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .interview-item:first-child {
    height: 100%;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .video-item {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .videos {
    padding: 50px 40px 0px;
    margin: 60px -40px 0px;
  }
  .video {
    height: 323px;
  }
}
