.text-10 {
  font-size: 10px;
}
.text-11 {
  font-size: 11px;
}
.text-12 {
  font-size: 12px;
}
.text-13 {
  font-size: 13px;
}
.text-14 {
  font-size: 14px;
}
.text-15 {
  font-size: 15px;
}
.text-16 {
  font-size: 16px;
}
.text-17 {
  font-size: 17px;
}
.text-18 {
  font-size: 18px;
}
.text-19 {
  font-size: 19px;
}
.text-20 {
  font-size: 20px;
}
.text-21 {
  font-size: 21px;
}
.text-22 {
  font-size: 22px;
}
.text-23 {
  font-size: 23px;
}
.text-24 {
  font-size: 24px;
}
.text-25 {
  font-size: 25px;
}
.text-26 {
  font-size: 26px;
}
.tbold {
  font-weight: bold;
}
.text-green {
  color: #2adb00;
}
.matop-5 {
  margin-top: 5px;
}
.matop-10 {
  margin-top: 10px;
}
.matop-15 {
  margin-top: 15px;
}
.maleft-5 {
  margin-left: 5px;
}
.maleft-10 {
  margin-left: 10px;
}
.maleft-15 {
  margin-left: 15px;
}
.mabot-5 {
  margin-bottom: 5px;
}
.mabot-10 {
  margin-bottom: 10px;
}
.mabot-15 {
  margin-bottom: 15px;
}
.mabot-20 {
  margin-bottom: 20px;
}
.maright-5 {
  margin-right: 5px;
}
.maright-10 {
  margin-right: 10px;
}
.maright-15 {
  margin-right: 15px;
}
.patop-5 {
  padding-top: 5px;
}
.patop-10 {
  padding-top: 10px;
}
.patop-15 {
  padding-top: 15px;
}
.paleft-5 {
  padding-left: 5px;
}
.paleft-10 {
  padding-left: 10px;
}
.paleft-15 {
  padding-left: 15px;
}
.pabot-5 {
  padding-bottom: 5px;
}
.pabot-10 {
  padding-bottom: 10px;
}
.pabot-15 {
  padding-bottom: 15px;
}
.paright-5 {
  padding-right: 5px;
}
.paright-10 {
  padding-right: 10px;
}
.paright-15 {
  padding-right: 15px;
}
.paright-30 {
  padding-right: 30px;
}
